<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <!-- if owner -->
        <!-- <li class="nav-item">
          <%= link_to "Add ship", new_ship_path, class: "nav-link" %>
        </li> -->
        <li class="nav-item">
          <%= link_to "Add a ship", new_ship_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My ships",  my_ships_ships_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Catalog", ships_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
