<div class="banner">
  <div class="container text-left pl-2">
    <h1>Get ready for your next sailing adventure</h1>
    <form class="">
      <input type="text" name="location" id="header-text-input" placeholder="Enter location">
      <input type="submit" value="Search ships" id="header-submit-input">
    </form>
  </div>
</div>

<div class="container pt-4 pb-5">
  <h2>Top ships in your area</h2>
  <div class="cards d-flex">
    <% @ships.each do |ship| %>
      <%= link_to ship_path(ship) do %>
        <!-- card -->
        <div class="card-trip mt-4">
          <% if ship.photo.attached? %>
           <%= cl_image_tag ship.photo.key %>
          <% end %>

          <div class="card-trip-infos">
            <div>
              <h2><%= ship.name %></h2>
              <p><%= ship.location %></p>
            </div>
            <h2 class="card-trip-pricing"><%= ship.destination %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
