<div class="container pt-4 pb-5">
  <h2>Choose your party boat!</h2>
  <div class="cards d-flex">
    <% @ships.each do |ship| %>
      <%= link_to ship_path(ship) do %>
        <div class="card-trip mt-4">
          
          <% if ship.photo.attached? %>
            <%= cl_image_tag ship.photo.key %>
          <% end %>

          <div class="card-trip-infos">
            <div>
              <h2><%= ship.name %></h2>
              <p><%= ship.location %></p>
            </div>
            <h2 class="card-trip-pricing"><%= ship.destination %></h2>
          </div>

        </div>
      <% end %>
    <% end %>

    <!-- map -->
    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
</div>
