<div class="banner img-banner" style="background-image:
  linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),
  url('<%= cl_image_path @ship.photo.key %>');">

  <div class="container text-left pl-2">
    <h1><%= @ship.name %></h1>
    <p class="p-header text-white"><%= @ship.location %></p>

    <!-- card -->
    <% if @ship.user != current_user %>
      <div class="card-product card-banner">
        <div class="text-center">
          <%= render "shared/new_booking" %>
        </div>
      </div>
    <% else %>
      <%= link_to "Edit", edit_ship_path(@ship), class:"form-actions btn-edit" %>
      <%= link_to "Delete", ship_path(@ship), class:"form-actions btn-delete", method: :delete %>
    <% end %>
  </div>
</div>

<!-- ship info -->
<div class="container pt-4 pb-4">
  <h2 class="pt-5 pb-2">Ship characteristics</h2>
  <hr>
  <!-- description -->
  <div class="description d-flex">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <div class="pl-2">
      <h3>Description</h3>
      <p><%= @ship.description %></p>
    </div>
  </div>
  <div class="d-flex mb-5">
    <div class="params pt-2">
      <!-- ship capacity -->
      <div class="d-flex">
        <i class="fa fa-users" aria-hidden="true"></i>
        <div class="pl-2">
          <h3>Capacity</h3>
          <p><%= @ship.capacity %></p>
        </div>
      </div>
  
      <!-- location -->
      <div class="d-flex">
        <i class="fa fa-map-pin pr-2" aria-hidden="true"></i>
        <div class="pl-2">
          <h3>Location</h3>
          <p><%= @ship.location %></p>
        </div>
      </div>
  
      <!-- destination -->
      <div class="d-flex">
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
        <div class="pl-2">
          <h3>Destination</h3>
          <p><%= @ship.destination %></p>
        </div>
      </div>
  
      <!-- price -->
      <div class="d-flex">
        <i class="fa fa-id-card" aria-hidden="true"></i>
        <div class="pl-2">
          <h3>Price</h3>
          <p>USD <%= @ship.price %></p>
        </div>
      </div>
    </div>
  
    <!-- map -->
    <div id="show-map"
      style="width: 100%; height: auto;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>  
    
    <!-- add mapbox to show page -->
    <%= content_for(:js_before_body) do %>
      <%= javascript_pack_tag 'mapbox' %>
    <% end %>
  </div>

  <!-- reviews -->
  <div class="d-flex reviews-header">
    <h3 class="reviews h3">Reviews</h3>
    <h3 class="reviews-count">
      <%= pluralize @ship.reviews.size, "review" %>
    </h3>
  </div>

  <hr>
  
  <div class="reviews-block">
    <div class="col-6 pl-0 review-form">
      <%= simple_form_for([ @ship, @review ], remote: true) do |f| %>
          <%= f.input :rating, collection: 1..5 %>
          <%= f.input :content, as: :text, label: :Review, class: "label-form" %>
          <%= f.button :submit, "Submit a review", class: "form-actions show-submit-botton" %>
      <% end %>
    </div>
  
    <div class="col-6 pr-0" id="reviews">
        <% if @ship.reviews.blank? %>
          Be the first to leave a review for <%= @ship.name %>
        <% else %>
          <% @ship.reviews.each do |review| %>
            <div class="d-flex review">
              <p class="mb-0" id="review-<%= review.id %>"><%= review.content %></p>
              <p class="mb-0" id="review-<%= review.id %>"><%= review.rating %></p>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>




